body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#board {
  height: min(80vw, 80vh);
  width: min(80vw, 80vh);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-image: url(./assets/92169725-aerial-view-of-sea-surface.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  position: relative;
}
#arsenal img {
  padding: 0px 0px;
}
#col-nums {
  width: min(80vw, 80vh);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  margin-left: 15px;
  font-weight: bold;
}
#row-nums {
  height: min(80vw, 80vh);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  font-weight: bold;
}
.ship-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 0px;
  height: auto;
  box-sizing: border-box;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell {
  min-height: 20px;
  min-width: 20px;
  border: 1px solid white;
}
